body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

h1 {
    text-align: center;
    margin-top: 20px;
}



.button-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    overflow: hidden;
}

.button {
    background-color: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
    opacity: 1;
}

/* Начальное состояние второй кнопки (невидима и за экраном слева) */
#questionButton {
    transform: translateX(-120%);
    opacity: 0;
}

/* Анимация исчезновения кнопки (уходит вправо) */
.slide-out {
    transform: translateX(120%);
    opacity: 0;
}

/* Анимация появления кнопки (приезжает слева) */
.slide-in {
    transform: translateX(0);
    opacity: 1;
}

